{% extends "layout.html" %}
{% block content %}
    <form action="" method="POST">
        <div class="form-group">
            {{form.startlocation.label}} <br>
            {{form.startlocation(size=1000, class="form-control", placeholder="", required='required')}}
        </div>
        <div class="form-group">
            {{form.endloctation.label}} <br>
            {{form.endloctation(size=1000, class="form-control", placeholder="", required='required')}}
        </div>
        <div class="form-group">
            {{form.starttime.label}} <br>
            {{form.starttime(class="form-control", type="datetime-local", style="width: 35%", required='required')}}
        </div>
        <div class="form-group">
            {{form.endtime.label}} <br>
            {{form.endtime(class="form-control", type="datetime-local", style="width: 35%", required='required')}}
        </div>
        <div class="form-group">
            {{form.isdriver.label}} <br>
            {{form.isdriver(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
{% endblock %}