<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af44e4c1456e49e3ae43c6ff786c89dc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_af44e4c1456e49e3ae43c6ff786c89dc" ></div>
        
</body>
<script>    
    
            var map_af44e4c1456e49e3ae43c6ff786c89dc = L.map(
                "map_af44e4c1456e49e3ae43c6ff786c89dc",
                {
                    center: [42.69807953619626, 23.321380446073142],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c79bbb16c0a44937bb995a7d4c00e1c2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af44e4c1456e49e3ae43c6ff786c89dc);
        
    
            var marker_744f2de336fd451b8f81341f81361001 = L.marker(
                [42.69225175, 23.310437050000004],
                {}
            ).addTo(map_af44e4c1456e49e3ae43c6ff786c89dc);
        
    
            var icon_939b4f97e4e54e4a884676ea6360feb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_744f2de336fd451b8f81341f81361001.setIcon(icon_939b4f97e4e54e4a884676ea6360feb4);
        
    
        var popup_37014d36da594b91bdeb636dbce2cd00 = L.popup({"maxWidth": "100%"});

        
            var html_80c53cd0a2704f5dbe01479b4c0529cb = $(`<div id="html_80c53cd0a2704f5dbe01479b4c0529cb" style="width: 100.0%; height: 100.0%;">Руски паметник</div>`)[0];
            popup_37014d36da594b91bdeb636dbce2cd00.setContent(html_80c53cd0a2704f5dbe01479b4c0529cb);
        

        marker_744f2de336fd451b8f81341f81361001.bindPopup(popup_37014d36da594b91bdeb636dbce2cd00)
        ;

        
    
    
            marker_744f2de336fd451b8f81341f81361001.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1b794f796bd4616bdc554fff751bdff = L.marker(
                [42.662254149999995, 23.37332119613994],
                {}
            ).addTo(map_af44e4c1456e49e3ae43c6ff786c89dc);
        
    
            var icon_3ce65342fdd14d00a22ebc698f432722 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e1b794f796bd4616bdc554fff751bdff.setIcon(icon_3ce65342fdd14d00a22ebc698f432722);
        
    
        var popup_03fed6feeeda46619165f425eb929eff = L.popup({"maxWidth": "100%"});

        
            var html_c7e34ccbb84d4b73a2c87c9ac1080a16 = $(`<div id="html_c7e34ccbb84d4b73a2c87c9ac1080a16" style="width: 100.0%; height: 100.0%;">ТУЕС</div>`)[0];
            popup_03fed6feeeda46619165f425eb929eff.setContent(html_c7e34ccbb84d4b73a2c87c9ac1080a16);
        

        marker_e1b794f796bd4616bdc554fff751bdff.bindPopup(popup_03fed6feeeda46619165f425eb929eff)
        ;

        
    
    
            marker_e1b794f796bd4616bdc554fff751bdff.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>