<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4e52acef21b345c29ea736d733242914 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4e52acef21b345c29ea736d733242914" ></div>
        
</body>
<script>    
    
            var map_4e52acef21b345c29ea736d733242914 = L.map(
                "map_4e52acef21b345c29ea736d733242914",
                {
                    center: [42.6783131, 23.31602720794567],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2eb2005f4d1649f1b4f6d327505e1a53 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
    
            var marker_40806e15ecc94d33b09b89caf83525aa = L.marker(
                [42.6783131, 23.31602720794567],
                {}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
    
            var icon_9b8a0cad142e42c5887fdf51d759e26b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_40806e15ecc94d33b09b89caf83525aa.setIcon(icon_9b8a0cad142e42c5887fdf51d759e26b);
        
    
        var popup_cc69df953183444591f4c25c629c1e98 = L.popup({"maxWidth": "100%"});

        
            var html_9a7700f3990140a6aacff305018b7719 = $(`<div id="html_9a7700f3990140a6aacff305018b7719" style="width: 100.0%; height: 100.0%;">бул. Арсеналски</div>`)[0];
            popup_cc69df953183444591f4c25c629c1e98.setContent(html_9a7700f3990140a6aacff305018b7719);
        

        marker_40806e15ecc94d33b09b89caf83525aa.bindPopup(popup_cc69df953183444591f4c25c629c1e98)
        ;

        
    
    
            marker_40806e15ecc94d33b09b89caf83525aa.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b07ba30d3c341f595dc5806fa18a5dd = L.marker(
                [42.662254149999995, 23.37332119613994],
                {}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
    
            var icon_4c02f5b5ad70483a8197e5a8a6c28b74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "map-marker", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3b07ba30d3c341f595dc5806fa18a5dd.setIcon(icon_4c02f5b5ad70483a8197e5a8a6c28b74);
        
    
        var popup_40b9421f5e424425b7a7c2ae51e7894d = L.popup({"maxWidth": "100%"});

        
            var html_ec5e97e81feb41d6a05397ee167e2a89 = $(`<div id="html_ec5e97e81feb41d6a05397ee167e2a89" style="width: 100.0%; height: 100.0%;">ТУЕС</div>`)[0];
            popup_40b9421f5e424425b7a7c2ae51e7894d.setContent(html_ec5e97e81feb41d6a05397ee167e2a89);
        

        marker_3b07ba30d3c341f595dc5806fa18a5dd.bindPopup(popup_40b9421f5e424425b7a7c2ae51e7894d)
        ;

        
    
    
            marker_3b07ba30d3c341f595dc5806fa18a5dd.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e1984a3d06d9455583a43fcaacc2d04b = L.marker(
                [42.676761299999995, 23.341721792148697],
                {}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
    
            var icon_3c66ab6067974ac0868bd7f05a04d934 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "road", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e1984a3d06d9455583a43fcaacc2d04b.setIcon(icon_3c66ab6067974ac0868bd7f05a04d934);
        
    
        var popup_d2619fff4332404e81cb0b6b72640c07 = L.popup({"maxWidth": "100%"});

        
            var html_7ab4f798b02349aa8307e8be1c189aae = $(`<div id="html_7ab4f798b02349aa8307e8be1c189aae" style="width: 100.0%; height: 100.0%;">Телевизионна кула</div>`)[0];
            popup_d2619fff4332404e81cb0b6b72640c07.setContent(html_7ab4f798b02349aa8307e8be1c189aae);
        

        marker_e1984a3d06d9455583a43fcaacc2d04b.bindPopup(popup_d2619fff4332404e81cb0b6b72640c07)
        ;

        
    
    
            marker_e1984a3d06d9455583a43fcaacc2d04b.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_fa41730eb325403e87557dd449705e02 = L.polyline(
                [[42.6783131, 23.31602720794567], [42.676761299999995, 23.341721792148697]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
    
            var poly_line_282e04fb900648d0bf9649df532a9458 = L.polyline(
                [[42.662254149999995, 23.37332119613994], [42.676761299999995, 23.341721792148697]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_4e52acef21b345c29ea736d733242914);
        
</script>