{% extends "layout.html" %}
{% block content %}

    <style type="text/css">
    #chat{
        margin-left: 140%;
        margin-top: 10%;
        width: 50%;
        height: 50%;
        
    }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <iframe class="map", src="/map" width="1250vw" height="750vh" style="margin-top: 5%; margin-left: -40%; border-style: solid;"></iframe>
    <div style="width: 60%; margin-left: 140%; margin-top: -103.5%;">
        {% if path != None %}
            <button type="button" onclick="window.location.href='{{ url_for("add_waypoint", path_id=path.id) }}'" class="btn btn-outline-info">Add waypoint</button>
        {% else %}
            <button type="button" onclick="window.location.href='/carpool'" class="btn btn-outline-info">Add path</button>
        {% endif %}
    </div>

    {% if member %}
    <!--Chat_old-->
    <div id="chat">
        <div id="messages" style="overflow-y: scroll;">
        
        <div class="message_holder">
            
        {% if messages %}

            {% for message in messages %}

            <div style="margin-bottom: 3%;"><b style="color: #000">{{message.sender_username}} </b> <i>({{message.timestamp.strftime("%H:%M %d-%m-%Y")}})</i> :<br> {{message.content}}</div>
            <!-- <script type="text/javascript" src="jquery-3.5.1.min.js">
            console.log('{{message.content}}')

            var div_mess = document.getElementsByClassName("example")[0];
            var username = document.createElement("div");

            var text = document.createTextNode('{{message.content}}');
            

            tag.appendChild(text);
            var element = document.getElementById("new");
            element.appendChild(tag);
            
            /*
                $( 'div.message_holder' ).append( '<div><b style="color: #000">'+'{{message.sender_username}}'+'</b> '+'{{message.content}}'+'</div>' )
            */
            </script> -->
            {% endfor %}

        {% else %}

        <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>

        {% endif %}

        </div>
        </div>

<!----<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>-->
    <form action="" method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( '{{current_user.username}}' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : '{{current_user.username}}',
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
            var dt = new Date();
            var month = '' + (dt.getMonth() + 1);
            var day = '' + dt.getDate();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div style="margin-bottom: 3%;"><b style="color: #000">'+msg.user_name+' </b> <i>('+dt.getHours() + ":" + dt.getMinutes() + " " + 
              day + "-" + month  + "-" + dt.getFullYear() +
              ')</i> :<br> '+msg.message+'</div>' )
        }


      })
    </script>
    </div>

    {% endif %}
    <!--Chat_old-->
    <!-- <div style="margin-top: 70%; margin-left: 165%; width: 50%; border: 1px solid black; width: 40%;">
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect('http://127.0.0.1:5000/paths');

                socket.on('connect', function() {
                    socket.send('User has connected!');
                });

                socket.on('message', function(msg) {
                    $("#messages").append('<li>'+msg+'</li>');
                    console.log('Receive message');
                });

                $('#send').on('click', function() {
                    socket.send($('#mymsg').val());
                    $('#mymsg').val('');
                });
            });
        </script>
        <ul id = "messages"></ul>
        <input id= "mymsg" type="text">
        <button id = "send" class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>
    </div> -->
{% endblock %}