{% extends "layout.html" %}
{% block content %}
    <div style="  margin-top: 3%; margin-left: 25%; margin-right: -25%">
    	<figure class="figure">
  			<img src="{{ path + car.filename }}" class="figure-img img-fluid rounded" alt="A "  style = "width: 150%">
  			<h2 class="card-title">{{ car.model }}</h2>
			<h5 class="card-tex">{{ car.location }}</h5>
			<h5 class="card-tex">Цена на час: {{ car.price }} BGN.</h5>
		</figure>
		<iframe class="map", src="/map" width="730vw" height="400vh" style="border-style: solid;"></iframe>
		<br>
		<br>
        {% if current_user.is_authenticated %}
            {% if current_user.is_admin == True %}
		        <button type="button" onclick="window.location.href='{{ url_for("remove", car_id=car.id) }}'" class="btn btn-outline-info" style="margin-left: 35%; margin-right: 1%;">Премахни</button>
                <button type="button" onclick="window.location.href='/show/car/{{car.id}}/update'" class="btn btn-outline-info" >Редактирай</button>
            {% else %}
                <button type="submit" class="btn btn-outline-info" style="margin-left: 42%">Наеми колата</button>
            {% endif %}
        {% endif %}
		<br>
		<br>
		<br>
    </div>
{% endblock %}