{% extends "layout.html" %}
{% block content %}
    <div style="  margin-top: 3%; margin-left: 25%; margin-right: -25%">
    	<figure class="figure">
  			<img src="{{ path + car.filename }}" class="figure-img img-fluid rounded" alt="A "  style = "width: 150%">
  			<h2 class="card-title">Model: {{ car.model }}</h2>
			<h5 class="card-tex">Station: {{ car.location }}</h5>
			<h5 class="card-tex">
				Status:
				{% if car.status %}
					<span style="color: red;">Busy</span> 
				{% else %}
				<span style="color: green;">Available</span>
				{% endif %}
			</h5>
			<h5 class="card-tex">Price/hour: {{ car.price }} BGN.</h5>
		</figure>
		<iframe class="map", src="/map" width="730vw" height="400vh" style="border-style: solid;"></iframe>
		<br>
		<br>
        {% if current_user.is_authenticated %}
            {% if current_user.is_admin == True %}
		        <button type="button" onclick="window.location.href='{{ url_for("remove_car", car_id=car.id) }}'" class="btn btn-outline-info" style="margin-left: 35%; margin-right: 1%;">Remove</button>
                <button type="button" onclick="window.location.href='/show/car/{{car.id}}/update'" class="btn btn-outline-info" >Edit</button>
            {% else %}
				{% if car.status == False %}
                	<button type="button" onclick="window.location.href='{{ url_for("rent", car_id=car.id) }}'" class="btn btn-outline-primary" style="margin-left: 42%">Rent a car</button>
				{% else %}
					<button type="button" onclick="window.location.href='#'" class="btn btn-outline-primary" style="margin-left: 42%">Request form user</button>
				{% endif %}
            {% endif %}
        {% endif %}
		<br>
		<br>
		<br>
    </div>
{% endblock %}