{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="/show/car/{{car.id}}/update" enctype="multipart/form-data">
        <!-- File Upload-->
        <div class="form-group">
            <label for="inputFile">File input</label>
            <input class="form-control-file" type="file" name="inputFile" accept="image/*">
        </div>

        <!-- Model -->
        <div class="form-group">
            <label for="model">Model of the car</label>
            <input type="text" class="form-control" name="model" id="model" placeholder="Write the model" value="{{car.model}}">
        </div>

        <!-- Location -->
        <label for="location">Location</label>
        </br>
        <select class="form-control" name="location" id="location">
            {% for station in stations %}
                {% if station.name == car.location %}
                    <option value="{{ station.id }}" selected>{{ station.name }}</option>
                {% else %}
                    <option value="{{ station.id }}">{{ station.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </br>

        <!--<div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" name="location" placeholder="Write location">
        </div> --> 

        <!-- Price for hour -->

        <div class="form-group">
            <label for="price">Price for hour</label>
            <input type="number" step="0.01" min=0 class="form-control" name="price" id="price" placeholder="Add a price" value="{{car.price}}">
        </div>

        <!-- Submit -->        
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
{% endblock %}